@using Microsoft.AspNetCore.Identity
@inject SignInManager<ElectricityMarketSimulationPlatform.Models.MarketUser> SignInManager
@inject UserManager<ElectricityMarketSimulationPlatform.Models.MarketUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<li class="light-blue dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="assets/images/avatars/user.jpg" alt="Jason's Photo" />
        <span class="user-info">
            <small>Welcome,</small>
            @User.Identity.Name
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#">
                <i class="ace-icon fa fa-cog"></i>
                账户设置
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="ace-icon fa fa-user"></i>
                个人中心
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link no-border">
                    <i class="ace-icon fa fa-power-off"></i>
                    退出登录
                </button>
            </form>
            @*<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <i class="ace-icon fa fa-power-off"></i>
                退出登录
            </a>*@
        </li>
    </ul>
</li> 
}
else
{
<li class="light-blue dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="assets/images/avatars/ui-sam-null.png" />
        <span>
            请先登录账号
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">
                <i class="ace-icon fa fa-leaf"></i>
                登录
            </a>
        </li>

        <li>
            <a asp-area="Identity" asp-page="/Account/Register">
                <i class="ace-icon fa fa-home"></i>
                注册
            </a>
        </li>
    </ul>
</li>
}
